<style>
    .text-multi-line {
        overflow-y: scroll;
        max-height: 100px;
        white-space: pre;
        background-color: antiquewhite
    }

    .modal-dialog {
        width: 90%
    }
</style>
<div class="modal-header bg-color" style="background-color:#ccc">
    <div class="modal-title">
        <a title="Đóng" style="opacity:1 !important" ng-click="cancelModal()" class="close" aria-hidden="true"> </a>

        <h4> <label class=" uppercase font-white"><i class="fa fa-list"></i> CẬP NHẬT THÔNG TIN ĐOÀN ĐÁNH GIÁ NGOÀI </label></h4>

    </div>
</div>
<div class="modal-body form">
    <div class="form-body form-horizontal">

        <!--Vẽ các tab tại đây-->
        <div class="row margin-bottom-5">
            <div class="col-md-12">
                <div class="tabbable-custom portlet box margin-top-10">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a data-target="#tab_1" data-toggle="tab" aria-expanded="true" class="bold">
                                Thông tin Đoàn ĐGN và danh sách thành viên
                            </a>
                        </li>
                        <li>
                            <a data-target="#tab_2" data-toggle="tab" aria-expanded="true" class="bold"
                               ng-click="LoadListPhong();LoadListTruong()">
                                Danh sách trường được phân công đánh giá ngoài
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active " id="tab_1">
                            <div class="row">
                                <div class="portlet light">
                                    <div class="form-body form-horizontal">
                                        <div class="row margin-bottom-5">
                                            <div class="{{itemError.ModelState.Ten[1]}}">
                                                <label class="control-label col-md-1">Tên Đoàn:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control input-sm" ng-model="item.Ten">
                                                </div>
                                            </div>
                                            <label class="control-label col-md-1">STT:</label>
                                            <div class="col-md-2">
                                                <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                                       class="form-control input-sm" ng-model="item.STT">
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <label class="control-label col-md-1">Thành viên:</label>
                                            <label class="control-label col-md-8">
                                                <b><i>Danh sách bao gồm {{DSThanhVienDGN.length}} thành viên</i></b>
                                            </label>

                                            <div class="col-md-3 text-right">
                                                <a class="btn btn-sm btn-primary btn-outline sbold"
                                                   ng-click="openModal('','AddThanhVienDGN')">
                                                    <i class="fa fa-plus"></i> Thêm thành viên
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-11">
                                                <div class="table-scrollable">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th> Họ và tên </th>
                                                                <th> Nơi công tác </th>
                                                                <th> Chức vụ </th>
                                                                <th align="center" width="1px">#</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="odd gradeX" ng-repeat="tv in DSThanhVienDGN">
                                                                <td>{{tv.HoTen}}</td>
                                                                <td> {{tv.NoiCongTac}} </td>
                                                                <td> {{tv.ChucVu}} </td>
                                                                <td>
                                                                    <a ng-click="DelThanhVien(tv)">
                                                                        <i class="fa fa-times font-red"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane " id="tab_2">
                            <div class="row">
                                <div class="portlet light " style="margin-bottom:0">
                                    <div class="form-body form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-2">Lọc theo Phòng: </label>
                                                <div class="col-md-7">
                                                    <select class="select2 form-control input-sm"
                                                            ng-model="Paging.DVCha"
                                                            ng-change="LoadListTruong()" convert-to-number>
                                                        <option value="{{CurDonVi.Id}}">---Tất cả các trường trực thuộc Sở---</option>
                                                        <option ng-repeat="op in ListPhong" value="{{op.Id}}">{{op.TenDonVi}}</option>
                                                    </select>
                                                </div>
                                                <label class="control-label col-md-2"><b><i>Đã chọn {{DSTruongDGN.length}} trường</i></b> </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <div class="table-scrollable ">
                                                    <!-- BEGIN FORM-->
                                                    <table class="table table-striped table-bordered table-hover"
                                                           id="fixTable">
                                                        <thead>
                                                            <tr>
                                                                <th align="center"> STT </th>
                                                                <th> <div style="text-align:center">Mã ĐV</div></th>
                                                                <th> <div style="text-align:center">Tên đơn vị</div> </th>
                                                                <th> <div style="text-align:center">Thời gian làm việc</div> </th>
                                                                <th><div style="text-align:center">Chọn trưởng đoàn <span class="font-red">*</span> </div>  </th>
                                                                <th width="1px"><div style="text-align:center">#</div>  </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="odd gradeX" ng-repeat="dm in ListTruong">
                                                                <td align="center" width="1%"> {{$index + Paging.pageStart}} </td>
                                                                <td>  {{dm.MaDonVi}} </td>
                                                                <td>
                                                                    {{dm.TenDonVi}}
                                                                </td>
                                                                <td align="center">
                                                                    Từ <input type="date" ng-model="dm.LamViecTu" 
                                                                              ng-change="UpdateDataTruongDGN(dm.Id,dm.LamViecTu,'LamViecTu')"
                                                                              ng-model-options="{updateOn: 'change'}"
                                                                              ng-disabled="!dm.check" />
                                                                    Đến 
                                                                    <input type="date" ng-model="dm.LamViecDen" 
                                                                           ng-model-options="{updateOn: 'change'}"
                                                                           ng-change="UpdateDataTruongDGN(dm.Id,dm.LamViecDen,'LamViecDen')"
                                                                           ng-disabled="!dm.check" />
                                                                </td>
                                                                <td align="center">
                                                                    <select class=" form-control input-sm" 
                                                                            select2 ng-model="dm.TruongDoan"
                                                                            ng-model-options="{updateOn: 'change'}"
                                                                            ng-change="UpdateDataTruongDGN(dm.Id,dm.TruongDoan,'TruongDoan')"
                                                                            ng-disabled="!dm.check">
                                                                        <option ng-repeat="us in DSThanhVienDGN" value="{{us.Username}}">
                                                                            {{us.HoTen}}
                                                                        </option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input type="checkbox" ng-model="dm.check" ng-click="OnCheckTruong(dm)"/>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="table-scrollable " style="max-height: 350px; overflow-y:scroll">
                                                    <!-- BEGIN FORM-->
                                                    <table class="table table-striped table-bordered table-hover"
                                                           id="fixTable">
                                                        <thead>
                                                            <tr>
                                                                <th align="center"> STT </th>
                                                                <th> <div style="text-align:center">Tên đơn vị</div> </th>
                                                                <th width="1px"><div style="text-align:center">#</div>  </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="odd gradeX" ng-repeat="dm in DSTruongDGN">
                                                                <td align="center" width="1%"> {{$index + 1}} </td>
                                                                <td>
                                                                    {{dm.TenDonVi}}
                                                                </td>
                                                                
                                                                <td>
                                                                    <a tooltip title="Xóa" ng-click="DelTruong(dm)"><i class="fa fa-times font-red"></i></a>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="pull-left col-md-3">
                                                <div class="input-group col-md-12">
                                                    <span class="input-group-addon"> Hiển thị </span>
                                                    <select ng-model="Paging.pageSize"
                                                            convert-to-number
                                                            ng-change="LoadListTruong()" class="form-control select2">
                                                        <option value="5">5 bản ghi</option>
                                                        <option ng-repeat="dp in displayPage" {{dp.value}}>{{dp.text}}</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <!--<div id="displayPage"></div>-->
                                                <!--<div class="pull-right" style="margin-top:-10px" id="show_paginator"></div>-->
                                                <div class="pull-right" style="margin-top:-10px">
                                                    <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_products_paginate">
                                                        <div class="pagination-panel">
                                                            Trang
                                                            <a href="#" class="btn btn-sm default prev " ng-click="PrePage()" title="Trang trước">
                                                                <i class="fa fa-angle-left"></i>
                                                            </a><input type="text" allow-only-numbers ng-model="Paging.currentPage" class="pagination-panel-input form-control input-mini input-inline input-sm" maxlenght="5" style="text-align:center; margin: 0 5px;" ng-change="LoadListTruong()" ng-model-options="{updateOn: 'change'}">
                                                            <a href="#" class="btn btn-sm default next " ng-click="NextPage()" title="Trang tiếp theo"><i class="fa fa-angle-right"></i></a> của
                                                            <span class="pagination-panel-total">{{Paging.totalPage}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="form-group " style="position: sticky;bottom: 10px;z-index:500;background-color:white">
            <div class="text-left"><label class="control-label col-md-4"><i>Lưu ý: <span style="color:red">*</span> Bắt buộc nhập</i></label></div>
            <div class="col-md-8 clearfix text-right">

                <a class="btn btn-sm btn-success btn-outline sbold"
                   ng-click="Save()">
                    <i class="fa fa-save"></i> Lưu
                </a>
                <a class="btn btn-sm grey-cascade"
                   ng-click="cancelModal()">
                    <i class="fa fa-times-circle"></i> Đóng
                </a>
            </div>

        </div>
    </div>
</div>

<script>


    jQuery(document).ready(function () {

        ComponentsSelect2.init();

    });

</script>
