<div ng-init="OnLoad()">
    <div class="modal-header bg-color" style="background-color:#ccc">
        <div class="modal-title">
            <a title="Đóng" style="opacity:1 !important" ng-click="cancelModal()" class="close" aria-hidden="true"> </a>

            <h4> <label class=" uppercase font-white"><i class="fa fa-list"></i> Cập nhật thông tin tiêu chí </label></h4>

        </div>
    </div>
    <div class="modal-body form">
        <div class="form-body form-horizontal margin-top-10">
            <div class="row margin-bottom-5">
                <div class="{{itemError.ModelState.TieuChuan[1]}}">
                    <label class="control-label col-md-2">Theo tiêu chuẩn<span style="color:red">*</span>: </label>
                    <div class="col-md-10">
                        <select ng-model="item.IdTieuChuan" class="form-control input-sm select2" convert-to-number>
                            <option ng-repeat="nl in DsTieuChuan" value={{nl.Id}}>{{nl.NoiDung}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-5">

                <div class="{{itemError.ModelState.NoiDung[1]}}">
                    <label class="control-label col-md-2">Nội dung<span style="color:red">*</span>: </label>
                    <div class="col-md-10">
                        <textarea rows="2" class="form-control input-sm" ng-model="item.NoiDung"></textarea>
                    </div>
                </div>

            </div>
            <div class="row margin-bottom-5">
                <div class="{{itemError.ModelState.ThuTu[1]}}">
                    <label class="control-label col-md-2">Tiêu chí thứ:</label>
                    <div class="col-md-4">
                        <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                               class="form-control input-sm" ng-model="item.ThuTu">
                    </div>
                </div>

                <label class="control-label col-md-2">Yêu cầu đánh giá:</label>
                <div class="col-md-1" style="margin-top:-3px">
                    <input type="checkbox" class="input-sm" ng-model="item.YCDanhGia">
                </div>
                <label class="control-label col-md-2">Hiển thị:</label>
                <div class="col-md-1" style="margin-top:-3px">
                    <input type="checkbox" class="input-sm" ng-model="item.FInUse">
                </div>
            </div>

            <!--Vẽ các tab tại đây-->
            <div class="row margin-bottom-5">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="tabbable-custom portlet box margin-top-10">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a data-target="#tab_1" data-toggle="tab" aria-expanded="true" class="bold">
                                    Mức độ 1
                                </a>
                            </li>
                            <li>
                                <a data-target="#tab_2" data-toggle="tab" aria-expanded="true" class="bold">
                                    Mức độ 2
                                </a>
                            </li>
                            <li>
                                <a data-target="#tab_3" data-toggle="tab" aria-expanded="true" class="bold">
                                    Mức độ 3
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active " id="tab_1">

                                <div class="row">
                                    <div class="portlet light " style="margin-bottom:0">

                                        <div class="form-body form-horizontal col-md-12">

                                            <div class="form-group">
                                                <div class="{{itemError.ModelState.NoiDungA[1]}}">
                                                    <label class="control-label col-md-2">Nội dung: </label>
                                                    <div class="col-md-10">
                                                        <textarea rows="2" class="form-control input-sm" ng-model="item.NoiDungA"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="{{itemError.ModelState.YeuCauA[1]}}">
                                                    <label class="control-label col-md-2">Yêu cầu: </label>
                                                    <div class="col-md-10">
                                                        <textarea rows="2" class="form-control input-sm" ng-model="item.YeuCauA"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="{{itemError.ModelState.GoiYA[1]}}">
                                                    <label class="control-label col-md-2">Gợi ý: </label>
                                                    <div class="col-md-10">
                                                        <textarea rows="2" class="form-control input-sm" ng-model="item.GoiYA"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>



                            </div>

                            <div class="tab-pane " id="tab_2">

                                <div class="row">
                                    <div class="portlet light " style="margin-bottom:0">

                                        <div class="form-body form-horizontal col-md-12">

                                            <div class="form-group">
                                                <div class="{{itemError.ModelState.NoiDungB[1]}}">
                                                    <label class="control-label col-md-2">Nội dung: </label>
                                                    <div class="col-md-10">
                                                        <textarea rows="2" class="form-control input-sm" ng-model="item.NoiDungB"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="{{itemError.ModelState.YeuCauB[1]}}">
                                                    <label class="control-label col-md-2">Yêu cầu: </label>
                                                    <div class="col-md-10">
                                                        <textarea rows="2" class="form-control input-sm" ng-model="item.YeuCauB"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="{{itemError.ModelState.GoiYB[1]}}">
                                                    <label class="control-label col-md-2">Gợi ý: </label>
                                                    <div class="col-md-10">
                                                        <textarea rows="2" class="form-control input-sm" ng-model="item.GoiYB"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>



                            </div>

                            <div class="tab-pane " id="tab_3">

                                <div class="row">
                                    <div class="portlet light " style="margin-bottom:0">

                                        <div class="form-body form-horizontal col-md-12">

                                            <div class="form-group">
                                                <div class="{{itemError.ModelState.NoiDungC[1]}}">
                                                    <label class="control-label col-md-2">Nội dung: </label>
                                                    <div class="col-md-10">
                                                        <textarea rows="2" class="form-control input-sm" ng-model="item.NoiDungC"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="{{itemError.ModelState.YeuCauC[1]}}">
                                                    <label class="control-label col-md-2">Yêu cầu: </label>
                                                    <div class="col-md-10">
                                                        <textarea rows="2" class="form-control input-sm" ng-model="item.YeuCauC"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="{{itemError.ModelState.GoiYC[1]}}">
                                                    <label class="control-label col-md-2">Gợi ý: </label>
                                                    <div class="col-md-10">
                                                        <textarea rows="2" class="form-control input-sm" ng-model="item.GoiYC"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group " style="position: sticky;bottom: 10px;z-index:500;background-color:white">
                <div class="text-left"><label class="control-label col-md-4"><i>Lưu ý: <span style="color:red">*</span> Bắt buộc nhập</i></label></div>
                <div class="col-md-8 clearfix text-right">
                    <a class="btn btn-sm btn-success btn-outline sbold" ng-click="Save()"><i class="fa fa-save"></i> Lưu </a>
                    <a class="btn btn-sm btn-success btn-outline sbold" ng-click="Save(1)"><i class="fa fa-save"></i> Lưu và thêm </a>
                    <a class="btn btn-sm grey-cascade" ng-click="cancelModal()"><i class="fa fa-times-circle"></i> Đóng </a>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {
        ComponentsSelect2.init();
    });
</script>
