<div ng-init="OnLoad()">
    <div class="modal-header bg-color" style="background-color:#ccc">
        <div class="modal-title">
            <a title="Đóng" style="opacity:1 !important" ng-click="cancelModal()" class="close" aria-hidden="true"> </a>

            <h4> <label class=" uppercase font-white"><i class="fa fa-list"></i> Cập nhật thông tin tiêu chuẩn </label></h4>

        </div>
    </div>
    <div class="modal-body form">
        <div class="form-body form-horizontal margin-top-10">
            <div class="row margin-bottom-5">
                <div class="{{itemError.ModelState.QuyDinh[1]}}">
                    <label class="control-label col-md-3">Theo quy định<span style="color:red">*</span>: </label>
                    <div class="col-md-9">
                        <select ng-model="item.IdQuyDinh" class="form-control input-sm select2" convert-to-number>
                            <option ng-repeat="nl in QuyDinh" value={{nl.Id}}>{{nl.Ten}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-5">
                <div class="{{itemError.ModelState.NhomLoai[1]}}">
                    <label class="control-label col-md-3">Nhóm loại trường<span style="color:red">*</span>: </label>
                    <div class="col-md-9">
                        <select ng-model="item.NhomLoai" class="form-control input-sm " multiple select2>
                            <option ng-repeat="nl in NhomLoai" value={{nl.Code}}>{{nl.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-5">

                <div class="{{itemError.ModelState.NoiDung[1]}}">
                    <label class="control-label col-md-3">Nội dung<span style="color:red">*</span>: </label>
                    <div class="col-md-9">
                        <textarea class="form-control input-sm" ng-model="item.NoiDung" rows="2"></textarea>
                    </div>
                </div>

            </div>
            <div class="row margin-bottom-5">
                <div class="{{itemError.ModelState.ThuTu[1]}}">
                    <label class="control-label col-md-3">Tiêu chuẩn thứ<span style="color:red">*</span>:</label>
                    <div class="col-md-3">
                        <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                               class="form-control input-sm" ng-model="item.ThuTu">
                    </div>
                </div>
                <label class="control-label col-md-5">Yêu cầu đánh giá:</label>
                <div class="col-md-1" style="margin-top:-3px">
                    <input type="checkbox" class="input-sm" ng-model="item.YCDanhGia">
                </div>
                <label class="control-label col-md-3">Hiển thị:</label>
                <div class="col-md-3" style="margin-top:-3px">
                    <input type="checkbox" class="input-sm" ng-model="item.FInUse">
                </div>
                <label class="control-label col-md-6"><i>Lưu ý: <span style="color:red">*</span> Bắt buộc nhập</i></label>

            </div>

            <div class="form-group " style="position: sticky;bottom: 10px;z-index:500;background-color:white">
                <div class="col-md-8 clearfix text-right">
                    <a class="btn btn-sm btn-success btn-outline sbold" ng-click="Save()"><i class="fa fa-save"></i> Lưu </a>
                    <a class="btn btn-sm btn-success btn-outline sbold" ng-click="Save(1)"><i class="fa fa-save"></i> Lưu và thêm </a>
                    <a class="btn btn-sm grey-cascade" ng-click="cancelModal()"><i class="fa fa-times-circle"></i> Đóng </a>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {
        ComponentsSelect2.init();
    });
</script>
