<div ng-init="OnLoad()">
    <div class="modal-header bg-color" style="background-color:#ccc">
        <div class="modal-title">
            <a title="Đóng" style="opacity:1 !important" ng-click="cancelModal()" class="close" aria-hidden="true"> </a>

            <h4> <label class=" uppercase font-white"><i class="fa fa-list"></i> Cập nhật thông tin tiêu chí </label></h4>

        </div>
    </div>
    <div class="modal-body form">
        <div class="form-body form-horizontal margin-top-10">
            <div class="row margin-bottom-5">
                <div class="{{itemError.ModelState.TieuChuan[1]}}">
                    <label class="control-label col-md-2">Theo tiêu chuẩn<span style="color:red">*</span>: </label>
                    <div class="col-md-10">
                        <select ng-model="item.IdTieuChuan" class="form-control input-sm select2" convert-to-number>
                            <option ng-repeat="nl in DsTieuChuan" value={{nl.Id}}>{{nl.NoiDung}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-5">

                <div class="{{itemError.ModelState.NoiDung[1]}}">
                    <label class="control-label col-md-2">Nội dung<span style="color:red">*</span>: </label>
                    <div class="col-md-10">
                        <textarea rows="2" class="form-control input-sm" ng-model="item.NoiDung"></textarea>
                    </div>
                </div>

            </div>
            <div class="row margin-bottom-5">
                <div class="{{itemError.ModelState.ThuTu[1]}}">
                    <label class="control-label col-md-2">Tiêu chí thứ:</label>
                    <div class="col-md-4">
                        <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                               class="form-control input-sm" ng-model="item.ThuTu">
                    </div>
                </div>

                <label class="control-label col-md-2">Yêu cầu đánh giá:</label>
                <div class="col-md-1" style="margin-top:-3px">
                    <input type="checkbox" class="input-sm" ng-model="item.YCDanhGia">
                </div>
                <label class="control-label col-md-2">Hiển thị:</label>
                <div class="col-md-1" style="margin-top:-3px">
                    <input type="checkbox" class="input-sm" ng-model="item.FInUse">
                </div>
            </div>

            <!--Vẽ các tab tại đây-->
            <div class="row margin-bottom-5">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="tabbable-custom portlet box margin-top-10">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a data-target="#tab_1" data-toggle="tab" aria-expanded="true" class="bold">
                                    Mức độ 1
                                </a>
                            </li>
                            <li>
                                <a data-target="#tab_2" data-toggle="tab" aria-expanded="true" class="bold">
                                    Mức độ 2
                                </a>
                            </li>
                            <li>
                                <a data-target="#tab_3" data-toggle="tab" aria-expanded="true" class="bold">
                                    Mức độ 3
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active " id="tab_1">

                                <div class="row">
                                    <div class="portlet light " style="margin-bottom:0">

                                        <div class="form-body form-horizontal col-md-12">

                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <a class="btn btn-primary btn-sm"
                                                       ng-click="openModalSmall({'CurrentChiBao': null,'ArrayChiBao': item.ChiBaoA},
                                                       'ChiBao','AddNew')">
                                                        Thêm chỉ báo
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <table class="table table-scrollable table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>STT</th>
                                                                <th>Nội dung</th>
                                                                <th>Yêu cầu</th>
                                                                <th>Gợi ý</th>
                                                                <th>Nơi thu thập</th>
                                                                <th width="1px">#</th>
                                                                <th width="1px">#</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="cb in item.ChiBaoA">
                                                                <td>{{cb.STT}}</td>
                                                                <td>{{cb.NoiDung}}</td>
                                                                <td>{{cb.YeuCau}}</td>
                                                                <td>{{cb.GoiY}}</td>
                                                                <td>{{cb.NoiThuThap}}</td>
                                                                <td align="center">
                                                                    <a tooltip title="Sửa"
                                                                       ng-click="openModalSmall({'CurrentChiBao': cb,'ArrayChiBao': item.ChiBaoA},'ChiBao')">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                </td>
                                                                <td align="center">
                                                                    <a tooltip title="Xóa" ng-click="DelChiBao(cb,'ChiBaoA')">
                                                                        <i class="fa fa-times font-red"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                           
                                        </div>



                                    </div>
                                </div>



                            </div>

                            <div class="tab-pane " id="tab_2">

                                <div class="row">
                                    <div class="portlet light " style="margin-bottom:0">

                                        <div class="form-body form-horizontal col-md-12">


                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <a class="btn btn-primary btn-sm"
                                                       ng-click="openModalSmall({'CurrentChiBao': null,'ArrayChiBao': item.ChiBaoB},
                                                       'ChiBao','AddNew')">
                                                        Thêm chỉ báo
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <table class="table table-scrollable table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>STT</th>
                                                                <th>Nội dung</th>
                                                                <th>Yêu cầu</th>
                                                                <th>Gợi ý</th>
                                                                <th>Nơi thu thập</th>
                                                                <th width="1px">#</th>
                                                                <th width="1px">#</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="cb in item.ChiBaoB">
                                                                <td>{{cb.STT}}</td>
                                                                <td>{{cb.NoiDung}}</td>
                                                                <td>{{cb.YeuCau}}</td>
                                                                <td>{{cb.GoiY}}</td>
                                                                <td>{{cb.NoiThuThap}}</td>
                                                                <td align="center">
                                                                    <a tooltip title="Sửa"
                                                                       ng-click="openModalSmall({'CurrentChiBao': cb,'ArrayChiBao': item.ChiBaoB},'ChiBao')">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                </td>
                                                                <td align="center">
                                                                    <a tooltip title="Xóa" ng-click="DelChiBao(cb,'ChiBaoB')">
                                                                        <i class="fa fa-times font-red"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>



                            </div>

                            <div class="tab-pane " id="tab_3">

                                <div class="row">
                                    <div class="portlet light " style="margin-bottom:0">

                                        <div class="form-body form-horizontal col-md-12">


                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <a class="btn btn-primary btn-sm"
                                                       ng-click="openModalSmall({'CurrentChiBao': null,'ArrayChiBao': item.ChiBaoC},
                                                       'ChiBao','AddNew')">
                                                        Thêm chỉ báo
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <table class="table table-scrollable table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>STT</th>
                                                                <th>Nội dung</th>
                                                                <th>Yêu cầu</th>
                                                                <th>Gợi ý</th>
                                                                <th>Nơi thu thập</th>
                                                                <th width="1px">#</th>
                                                                <th width="1px">#</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="cb in item.ChiBaoC">
                                                                <td>{{cb.STT}}</td>
                                                                <td>{{cb.NoiDung}}</td>
                                                                <td>{{cb.YeuCau}}</td>
                                                                <td>{{cb.GoiY}}</td>
                                                                <td>{{cb.NoiThuThap}}</td>
                                                                <td align="center">
                                                                    <a tooltip title="Sửa"
                                                                       ng-click="openModalSmall({'CurrentChiBao': cb,'ArrayChiBao': item.ChiBaoC},'ChiBao')">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                </td>
                                                                <td align="center">
                                                                    <a tooltip title="Xóa" ng-click="DelChiBao(cb,'ChiBaoC')">
                                                                        <i class="fa fa-times font-red"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group " style="position: sticky;bottom: 10px;z-index:500;background-color:white">
                <div class="text-left"><label class="control-label col-md-4"><i>Lưu ý: <span style="color:red">*</span> Bắt buộc nhập</i></label></div>
                <div class="col-md-8 clearfix text-right">
                    <a class="btn btn-sm btn-success btn-outline sbold" ng-click="Save()"><i class="fa fa-save"></i> Lưu </a>
                    <a class="btn btn-sm btn-success btn-outline sbold" ng-click="Save(1)"><i class="fa fa-save"></i> Lưu và thêm </a>
                    <a class="btn btn-sm grey-cascade" ng-click="cancelModal()"><i class="fa fa-times-circle"></i> Đóng </a>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {
        ComponentsSelect2.init();
    });
</script>
