<style>
    .tabs-left.nav-tabs > li.active > a, .tabs-left.nav-tabs > li.active > a:hover > li.active > a:focus {
        border-width: 3px !important;
        border-color: #ed6b75;
        border-right: none
    }
</style>
<div ng-controller="BaoCaoSoBoController">
    <div class="col-md-12">
        <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> LẬP BÁO CÁO SƠ BỘ </label></h4>
    </div>
    <div class="portlet">
        <div class="portlet-body light form">
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Đơn vị</span>
                            <select class="form-control select2 filter-select input-sm " ng-model="filterKeHoachDGN.IdTruong" ng-change="onSearchKeHoachDGN()">
                                <option ng-repeat="dv in DonVis" value="{{dv.Id}}" ng-disabled="!(dv.LoaiDonVi=='TRUONG')">
                                    {{dv.TenDonVi}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">Kế hoạch </span>
                            <select disabled class="form-control select2 filter-select input-sm " ng-model="ItemKeHoachDGN.Id">
                                <option ng-repeat="kh in KeHoachDGN" value="{{kh.Id}}">{{kh.NoiDung}}</option>
                            </select>
                        </div>
                    </div>
                    <div  ng-if="filterKeHoachDGN.IdTruong!=null" class="col-md-2">
                        <a class="btn btn-sm btn-success btn-outline sbold" tooltip title="Xem báo cáo tự đánh giá" ng-click="ViewBaoCaoTDG((DonVis | filter:{'Id':filterKeHoachDGN.IdTruong})[0].MaDonVi)">
                            <i class="fa fa-eye"></i> Xem báo cáo tự đánh giá
                        </a>
                    </div>
                </div>
                <br />
                <div ng-if="IsBaoCao==false">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><b>Bạn không được phân quyền viết báo cáo sơ bộ cho đơn vị này!</b></h4>
                        </div>
                    </div>
                </div>
                <div ng-if="item.IdKeHoachDGN!=null && IsBaoCao">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><b>Theo {{ItemKeHoachDGN.NoiDung}}</b></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row ">
                                <div class="tabbable-custom portlet box margin-top-10">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <ul class="nav nav-tabs tabs-left">
                                            <li class="active">
                                                <a data-target="#tab_1" data-toggle="tab" aria-expanded="true">
                                                    1. Hình thức trình bày
                                                </a>
                                            </li>
                                            <li>
                                                <a data-target="#tab_2" data-toggle="tab" aria-expanded="true">
                                                    2.Nội dung
                                                </a>
                                            </li>
                                            <li>
                                                <a data-target="#tab_3" data-toggle="tab" aria-expanded="true">
                                                    3. Các tiêu chí chưa đánh giá, chưa đánh giá đúng, chưa đánh giá đầy đủ
                                                </a>
                                            </li>
                                            <li>
                                                <a data-target="#tab_4" data-toggle="tab" aria-expanded="true">
                                                    4. Đề xuất
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div>
                                                            <ng-ckeditor ng-model="item.NhanXetHinhThuc"
                                                                         ng-config="config"></ng-ckeditor>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="tab_2">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div>
                                                            <ng-ckeditor ng-model="item.NhanXetNoiDung"
                                                                         ng-config="config"></ng-ckeditor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div>
                                                            <ng-ckeditor ng-model="item.TieuChiChuaDanhGia"
                                                                         ng-config="config"></ng-ckeditor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div>
                                                            <ng-ckeditor ng-model="item.DeXuat"
                                                                         ng-config="config"></ng-ckeditor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-sm btn-success btn-outline sbold"
                               ng-click="exportBaoCao('PrintDiv','Báo cáo sơ bộ.doc','application/vnd.ms-word')"><i class="fa fa-file-word-o"></i>&nbsp;Xuất báo cáo </a>
                            <a ng-if="CheckView(item,'EDIT')" class="btn btn-sm btn-success btn-outline sbold"
                               ng-click="SaveModal()"><i class="fa fa-save"></i>&nbsp;Lưu </a>
                        </div>
                    </div>
                    <div hidden class="row" id="PrintDiv">

                        <div class="col-md-12">
                            <table>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <center><h4> Báo cáo sơ bộ</h4></center>
                        </div>
                        <div class="col-md-12">
                            <p>Người viết: {{item.NguoiNhapName}}</p>
                            <p>Đơn vị công tác: {{item.DonViNguoiNhapName}}</p>
                            <p>Điện thoại: {{item.DienThoai}}&nbsp;Email: {{item.Email}}</p>
                            <p>Trường được đánh giá ngoài: {{item.DonViName}}</p>
                        </div>

                        <div class="col-md-12">
                            <h5><b>1. Nhận xét về hình thức trình bày</b></h5>
                        </div>
                        <div class="col-md-12">
                            <div ng-bind-html="item.NhanXetHinhThuc"></div>
                        </div>

                        <div class="col-md-12">
                            <h5><b>2. Nhận xét về nội dung</b></h5>
                        </div>
                        <div class="col-md-12">
                            <div ng-bind-html="item.NhanXetNoiDung"></div>
                        </div>

                        <div class="col-md-12">
                            <h5><b>3. Các tiêu chí chưa đánh giá, chưa đánh giá đúng, chưa đánh giá đầy đủ</b></h5>
                        </div>
                        <div class="col-md-12">
                            <div ng-bind-html="item.TieuChiChuaDanhGia"></div>
                        </div>

                        <div class="col-md-12">
                            <h5><b>4. Đề xuất với đoàn ĐGN về những vấn đề thảo luận thêm</b></h5>
                        </div>
                        <div class="col-md-12">
                            <div ng-bind-html="item.DeXuat"></div>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-12">
                            <table width="100%">
                                <tr>
                                    <td align="center" class="td-no-border"></td>
                                    <td align="center" class="td-no-border"><i>......., ngày...... tháng ....... năm ........</i></td>
                                </tr>
                                <tr>
                                    <td align="center" width="40%" class="td-no-border">
                                        <!--<b>Xác nhận</b><br /><b>của trưởng nhóm công tác</b>-->
                                    </td>
                                    <td align="center" width="60%" class="td-no-border">
                                        <b>Người viết</b><br /><i>(Ký và ghi rõ họ tên)</i>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div hidden id="TemplateNhanXetHinhThuc">
    a) Hình thức trình bày: <br />
    b) Cấu trúc: <br />
    c) Chính tả ngữ pháp: <br />
    d) Các ý kiến khác (nếu có):
</div>

<div hidden id="TemplateNhanXetNoiDung">
    a) Cơ sở dữ liệu, đặt vấn đề, kết luận chung và phần Phụ lục:<br />
    b) Các tiêu chí:<br />
    - Mô tả hiện trạng<br />
    - Điểm mạnh<br />
    - Điểm yếu<br />
    - Kế hoạch cải tiến chất lượng<br />
    - Kết quả tự đánh giá<br />
    c) Việc sử dụng các minh chứng, tính trung thực và đúng, đủ của các minh chứng:<br />
</div>

