<style>
    .tabs-left.nav-tabs > li.active > a, .tabs-left.nav-tabs > li.active > a:hover > li.active > a:focus {
        border-width: 3px !important;
        border-color: #ed6b75;
        border-right: none
    }
</style>
<div ng-controller="BaoCaoSoBoController">
    <div class="col-md-12">
        <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> LẬP BÁO CÁO SƠ BỘ </label></h4>
    </div>
    <div class="form-body form-horizontal ">
        <div class="tabbable-line ">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a id="KHDGN" data-target="#tab_1" data-toggle="tab" aria-expanded="true" class=" bold">
                        Kế hoạch đánh giá ngoài
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="portlet-body light form">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row ">

                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Đơn vị</span>
                                    <select class="form-control select2 filter-select " ng-model="filterKeHoachDGN.IdTruong" ng-change="onSearchKeHoachDGN()">
                                        <option ng-repeat="dv in DonVis" value="{{dv.Id}}">{{dv.TenDonVi}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Kế hoạch năm</span>
                                    <input type="text" ng-model="filterKeHoachDGN.Nam"
                                           class="form-control ">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Trạng thái</span>
                                    <select class="form-control select2 filter-select " ng-model="filterKeHoachDGN.TrangThai" ng-change="onSearchKeHoachDGN()">
                                        <option ng-repeat="tt in TrangThaiKHDGNs" value="{{tt.FCode}}">{{tt.FName}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--TrangThaiKHDGNs-->
                        </div>
                        <br />

                        <div class="row text-center">
                            <a class="btn btn-primary btn-" ng-click="onSearchKeHoachDGN()"><i class="fa fa-search"></i> Tìm</a>
                            <a class="btn btn-default btn-" ng-click="onCancelKeHoachDGN()"><i class="glyphicon glyphicon-remove"></i> Hủy</a>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-scrollable ">
                                    <!-- BEGIN FORM-->
                                    <table class="table table-striped table-bordered table-hover"
                                           id="fixTable">
                                        <thead>
                                            <tr>
                                                <th width="1px" align="center"> STT </th>
                                                <th> <div style="text-align:center">Nội dung</div></th>
                                                <th> <div style="text-align:center">Năm</div> </th>
                                                <!--<th width="1px"><div style="text-align:center">#</div>  </th>-->
                                                <th width="1px"><div style="text-align:center">#</div>  </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX" ng-repeat="dm in KeHoachDGN">
                                                <td align="center" width="1px"> {{$index + 1}} </td>
                                                <td>  <a ng-click="OpenModalKeHoachDGN(dm,'KeHoachDGN')"> {{dm.NoiDung}}</a> </td>
                                                <td align="center">
                                                    {{dm.Nam}}
                                                </td>
                                                <!--<td>
                                                    <a tooltip title="In kế hoạch đánh giá" ng-click="openModal(dm,'InKeHoachTDG')">
                                                        <i class="fa fa-file-word-o"></i>
                                                    </a>
                                                </td>-->
                                                <td nowrap>
                                                    <a tooltip title="Viết báo cáo sơ bộ" ng-click="OpenModalBaoCaoSoBo(dm,'BATDAU')"><i class="font-green fa fa-pencil"></i></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <br />
    </div>



</div>

<div hidden id="TemplateNhanXetHinhThuc">
    a) Hình thức trình bày: <br />
    b) Cấu trúc: <br />
    c) Chính tả ngữ pháp: <br />
    d) Các ý kiến khác (nếu có):
</div>

<div hidden id="TemplateNhanXetNoiDung">
    a) Cơ sở dữ liệu, đặt vấn đề, kết luận chung và phần Phụ lục:<br />
    b) Các tiêu chí:<br />
    - Mô tả hiện trạng<br />
    - Điểm mạnh<br />
    - Điểm yếu<br />
    - Kế hoạch cải tiến chất lượng<br />
    - Kết quả tự đánh giá<br />
    c) Việc sử dụng các minh chứng, tính trung thực và đúng, đủ của các minh chứng:<br />
</div>

