<style>
    hr {
        margin-top: -5px
    }

    h5 {
        color: red;
        cursor: pointer
    }
</style>
<div class="col-md-12">
    <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> SỐ LIỆU 5 NĂM GẦN ĐÂY </label></h4>
</div>
<div class="form-body form-horizontal col-md-12">
    <div ng-controller="SLSoLopHocController">
        <h5 ng-click="show = !show" title="Click để ẩn/hiện dữ liệu">
            <b>
                1. Số lớp học
                <i class="{{show ? 'fa fa-angle-up':'fa fa-angle-down'}}"></i>
            </b>
        </h5><hr />
        <div ng-show="show">
            <div id="{{sheetName}}"></div>
            <div>
                <a class="btn btn-success btn-sm action-btn"
                   ng-click="Save(loaiSL,sheetName,null)">
                    <i class="fa fa-save"></i> Lưu
                </a>
            </div>
        </div>
    </div>

    <div ng-controller="SLCoCauCongTrinhController">
        <h5 ng-click="show = !show;GetData('', loaiSL, sheetName, minDimensions, footers,genesisColumn, genesisData, updateSettings)" title="Click để ẩn/hiện dữ liệu">
            <b>
                2. Cơ cấu khối công trình của nhà trường
                <i class="{{show ? 'fa fa-angle-up':'fa fa-angle-down'}}"></i>
            </b>
        </h5><hr />
        <div ng-show="show">
            <div id="{{sheetName}}"></div>
            <div>
                <a class="btn btn-success btn-sm action-btn"
                   ng-click="Save(loaiSL,sheetName,null)">
                    <i class="fa fa-save"></i> Lưu
                </a>
            </div>
        </div>
    </div>

    <div ng-controller="SLCanBoController">
        <h5 ng-click="show = !show;GetData('', loaiSL, sheetName, minDimensions, footers,genesisColumn, genesisData)" title="Click để ẩn/hiện dữ liệu">
            <b>
                3. Cán bộ quản lý, giáo viên, nhân viên
                <i class="{{show ? 'fa fa-angle-up':'fa fa-angle-down'}}"></i>
            </b>
        </h5><hr />
        <div ng-show="show">
            <div id="{{sheetName}}"></div>
            <div>
                <a class="btn btn-success btn-sm action-btn"
                   ng-click="Save(loaiSL,sheetName,null)">
                    <i class="fa fa-save"></i> Lưu
                </a>
            </div>
        </div>
    </div>

    <div ng-controller="SLHocSinhController">
        <h5 ng-click="show = !show;GetData('',loaiSL,sheetName,minDimensions, footers,genesisColumn, genesisData)" title="Click để ẩn/hiện dữ liệu">
            <b>
                4.a. Học sinh - Số liệu chung
                <i class="{{show ? 'fa fa-angle-up':'fa fa-angle-down'}}"></i>
            </b>
        </h5><hr />
        <div ng-show="show">
            <div id="{{sheetName}}"></div>
            <div>
                <a class="btn btn-success btn-sm action-btn"
                   ng-click="Save(loaiSL,sheetName,null)">
                    <i class="fa fa-save"></i> Lưu
                </a>
            </div>
        </div>
    </div>

    <div ng-controller="SLKQGiaoDucController">
        <h5 ng-click="show = !show;GetData('',loaiSL, sheetName, minDimensions,footers,genesisColumn, genesisData)" title="Click để ẩn/hiện dữ liệu">
            <b>
                4.b. Học sinh - Kết quả giáo dục (đối với trường THCS, THPT và trường phổ thông có nhiều cấp học)
                <i class="{{show ? 'fa fa-angle-up':'fa fa-angle-down'}}"></i>
            </b>
        </h5><hr />
        <div ng-show="show">
            <div id="{{sheetName}}"></div>
            <div>
                <a class="btn btn-success btn-sm action-btn"
                   ng-click="Save(loaiSL,sheetName,null)">
                    <i class="fa fa-save"></i> Lưu
                </a>
            </div>
        </div>
    </div>
</div>
