
<div class="col-md-12">
    <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> GỬI VÀ NHẬN BÁO CÁO CẤP TRÊN </label></h4>
</div>
<div class="form-body form-horizontal col-md-12">

    <div class="form-group">
        <div class="col-md-12">
            <div class="table-scrollable ">
                <!-- BEGIN FORM-->
                <table class="table table-striped table-bordered table-hover"
                       id="fixTable">
                    <thead>
                        <tr>
                            <th width="1px" align="center"> STT </th>
                            <th> <div style="text-align:center">Nội dung kế hoạch</div></th>
                            <th> <div style="text-align:center">Giai đoạn</div> </th>
                            <th> <div style="text-align:center">Ngày bắt đầu</div></th>
                            <th> <div style="text-align:center">Ngày kết thúc</div> </th>
                            <th> <div style="text-align:center">Trạng thái</div> </th>
                            <th> <div style="text-align:center">Trạng thái chuyển kế hoạch</div> </th>
                            <th width="1px"><div style="text-align:center">Gửi/thu hồi báo cáo</div>  </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="dm in KeHoachTDG">
                            <td align="center" width="1px"> {{$index + 1}} </td>
                            <td> <a ng-click="openModal(dm,'KeHoachTDG')"> {{dm.NoiDung}}</a> </td>
                            <td align="center">
                                {{dm.NamHocBD}} - {{dm.NamHocKT}}
                            </td>
                            <td align="center">
                                {{dm.NgayBD | date:'dd/MM/yyyy'}}
                            </td>
                            <td align="center">
                                {{dm.NgayKT | date:'dd/MM/yyyy'}}
                            </td>

                            <td align="center">
                                <span ng-repeat="tt in TTKeHoachTDG | filter : {Code : dm.TrangThai}"> {{tt.Name}}</span>
                            </td>
                            <td align="center">
                                <span ng-if="dm.ChuyenKeHoach">Đã chuyển kế hoạch cho sở</span>
                                <span ng-if="!dm.ChuyenKeHoach">Chưa chuyển kế hoạch cho sở</span>
                            </td>


                            <td>
                                <a ng-if="CheckView(dm,'CHUYEN')" tooltip ng-click="UpdateTrangThaiKH(dm,'CHUYEN')" title="Gửi báo cáo">
                                    <i class="fa fa-share ">Nhấn để gửi</i>
                                </a>
                                <a ng-if="CheckView(dm,'THUHOI')" tooltip ng-click="UpdateTrangThaiKH(dm,'THUHOI')" title="Thu hồi báo cáo">
                                    <i class="fa fa-refresh ">Nhấn để thu hồi</i>
                                </a>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <hr style="width:100%; color:black" />
        <div class="col-md-6">
            <center>
                <h5><b>BÁO CÁO TỰ ĐÁNH GIÁ</b></h5>
                <iframe ng-src="{{LinkBaoCao}}" width="100%" height="600px"></iframe>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <h5><b>KẾT QUẢ ĐÁNH GIÁ NGOÀI</b></h5>
                <iframe ng-src="{{LinkBaoCao}}" width="100%" height="600px"></iframe>
            </center>
        </div>
    </div>

</div>
