<div class="col-md-12">
    <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> KẾT QUẢ NGHIÊN CỨU HỒ SƠ ĐÁNH GIÁ </label></h4>
</div>
<div class="form-body form-horizontal col-md-12">
    <div class="form-group ">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">Đơn vị</span>
                <select class="form-control select2 filter-select " convert-to-number
                        ng-model="filterHoiDongDGN.IdTruong" ng-change="LoadKeHoachDGN()">
                    <option ng-repeat="dv in DonVis" ng-disabled="dv.LoaiDonVi != 'TRUONG'" value="{{dv.Id}}">{{dv.TenDonVi}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">Kế hoạch ĐGN</span>
                <select class="form-control select2 filter-select " convert-to-number
                        ng-model="filterHoiDongDGN.IdKeHoachDGN"
                        ng-change="LoadKhaoSatSoBo()">
                    <option ng-repeat="kh in KeHoachDGN" value="{{kh.Id}}">{{kh.NoiDung}}</option>
                </select>
            </div>
        </div>

    </div>

    <div class="form-group" ng-if="filterHoiDongDGN.IdKeHoachDGN != 0">
        <div class="col-md-12">
            <div class="portlet light bordered">

                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabbable-custom portlet box margin-top-10">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a data-target="#tab_1" data-toggle="tab" aria-expanded="true" class="bold">
                                            Về trình bày,..
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#tab_2" data-toggle="tab" aria-expanded="true" class="bold">
                                            Về nội dung
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#tab_3" data-toggle="tab" aria-expanded="true" class="bold">
                                            Về các tiêu chí và minh chứng
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#tab_4" data-toggle="tab" aria-expanded="true" class="bold">
                                            Đối tượng và ND phỏng vấn
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#tab_5" data-toggle="tab" aria-expanded="true" class="bold">
                                            CSVC, các hoạt động cần khảo sát
                                        </a>
                                    </li>
                                    
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active " id="tab_1">
                                        <div class="row">
                                            <div class="portlet light " style="margin-top:-10px">
                                                <div class="form-body form-horizontal">
                                                    <div class="col-md-12">
                                                        <b>Nhận xét về hình thức trình bày, cấu trúc, chính tả, ngữ pháp,...:</b>
                                                    </div>
                                                    <div class="col-md-12">

                                                        <ng-ckeditor ng-model="item.TrinhBay"
                                                                     ng-config="config"></ng-ckeditor>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane " id="tab_2">
                                        <div class="row">
                                            <div class="portlet light " style="margin-bottom:0">
                                                <div class="form-body form-horizontal">
                                                    <div class="col-md-12">
                                                        <b>Nhận xét về nội dung:</b>
                                                    </div>
                                                    <div class="col-md-12">

                                                        <ng-ckeditor ng-model="item.NoiDung"
                                                                     ng-config="config"></ng-ckeditor>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane " id="tab_3">
                                        <div class="row">
                                            <div class="portlet light " style="margin-bottom:0">
                                                <div class="form-body form-horizontal">
                                                    <div class="col-md-12">
                                                        
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane " id="tab_4">
                                        <div class="row">
                                            <div class="portlet light " style="margin-bottom:0">
                                                <div class="form-body form-horizontal">
                                                    <div class="col-md-12">
                                                        

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane " id="tab_5">
                                        <div class="row">
                                            <div class="portlet light " style="margin-bottom:0">
                                                <div class="form-body form-horizontal">
                                                    <div class="col-md-12">
                                                        <b>Cơ sở vật chất, các hoạt động nuôi dưỡng, chăm sóc, giáo dục trẻ em cần khảo sát:</b>
                                                    </div>
                                                    <div class="col-md-12">

                                                        <ng-ckeditor ng-model="item.CoSoVatChat"
                                                                     ng-config="config"></ng-ckeditor>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-sm btn-success btn-outline sbold"
                               ng-click="Save()"><i class="fa fa-save"></i>&nbsp;Lưu </a>
                            <a class="btn btn-sm btn-success btn-outline sbold"
                               ng-click="openModal(filterHoiDongDGN,'InKhaoSatSoBoDGN')">
                                <i class="fa fa-file-word-o"></i>&nbsp;Xuất báo cáo
                            </a>
                            <a class="btn btn-sm btn-default btn-outline sbold"
                               ng-click="Del(item.Id)"><i class="fa fa-refresh"></i>&nbsp;Tạo lại </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>





