<style>
    .text-multi-line {
        overflow-y: scroll;
        max-height: 100px;
        white-space: pre;
        background-color: antiquewhite
    }

    .modal-dialog {
        width: 90%
    }
</style>
<div class="modal-header bg-color" style="background-color:#ccc">
    <div class="modal-title">
        <a title="Đóng" style="opacity:1 !important" ng-click="cancelModal()" class="close" aria-hidden="true"> </a>

        <h4> <label class=" uppercase font-white"><i class="fa fa-list"></i> Thông tin kế hoạch tự đánh giá {{item.DonViName}}</label></h4>

    </div>
</div>
<div class="modal-body form">
    <div class="form-body form-horizontal margin-top-10">
        <div class="row text-center uppercase">
            <h3>{{item.DonViName}} </h3>
            <!--<div style="display:flex;flex-direction:row ;align-items:center;justify-content:center">

                <h3> Năm</h3> <div class="col-md-2"><input class="form-control" ng-model="item.Nam" /></div>
            </div>-->
        </div>
        <div class="row margin-bottom-5">
            <div class="col-md-12">
                <div class="tabbable-custom portlet box">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a data-target="#tab_1" data-toggle="tab" aria-expanded="true" class="bold">
                                Thông tin chung
                            </a>
                        </li>
                        <li>
                            <a data-target="#tab_2" data-toggle="tab" aria-expanded="true" class="bold">
                                Mục đích
                            </a>
                        </li>
                        <li>
                            <a data-target="#tab_3" data-toggle="tab" aria-expanded="true" class="bold">
                                Phạm vi
                            </a>
                        </li>
                        <li>
                            <a data-target="#tab_4" data-toggle="tab" aria-expanded="true" class="bold">
                                Công cụ
                            </a>
                        </li>
                        <li>
                            <a data-target="#tab_5" data-toggle="tab" aria-expanded="true" class="bold">
                                Tập huấn nghiệp vụ
                            </a>
                        </li>
                        <li>
                            <a data-target="#tab_6" data-toggle="tab" aria-expanded="true" class="bold">
                                Dự kiến nguồn lực
                            </a>
                        </li>
                        <li>
                            <a data-target="#tab_7" data-toggle="tab" aria-expanded="true" class="bold">
                                Dự kiến thuê chuyên gia tư vấn
                            </a>
                        </li>

                        <li>
                            <a data-target="#tab_8" data-toggle="tab" aria-expanded="true" class="bold">
                                Thời gian và nội dung hoạt động
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active " id="tab_1">
                            <div class="row">
                                <div class="portlet light " style="margin-top:-10px">
                                    <div class="form-body form-horizontal">
                                        <div class="row margin-bottom-5">

                                            <div class="{{itemError.ModelState.NoiDung[1]}}">
                                                <label class="control-label col-md-2">Nội dung<span style="color:red">*</span>:</label>
                                                <div class="col-md-4">
                                                    <input disabled id="NoiDung" type="text" class="form-control input-sm" ng-model="item.NoiDung">
                                                </div>

                                            </div>

                                            <div class="{{itemError.ModelState.NamHoc[1]}}">
                                                <label class="control-label col-md-2">Giai đoạn<span style="color:red">*</span>:</label>
                                                <div class="col-md-4" style="display:inline-flex">
                                                    <input disabled id="NamHocBD" type="number" class="form-control input-sm" ng-model="item.NamHocBD">
                                                    -
                                                    <input disabled id="NamHocKT" type="number" class="form-control input-sm" ng-model="item.NamHocKT">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div class="{{itemError.ModelState.NgayBD[1]}}">
                                                <label class="control-label col-md-2">Ngày bắt đầu<span style="color:red">*</span>:</label>
                                                <div class="col-md-4">
                                                    <input disabled type="text"
                                                           placeholder="dd/MM/yyyy"
                                                           datetime="dd/MM/yyyy"
                                                           class="form-control input-sm"
                                                           ng-model="item.NgayBD"
                                                           datetime-separator=",.-/" />

                                                </div>
                                            </div>
                                            <div class="{{itemError.ModelState.NgayKT[1]}}">
                                                <label class="control-label col-md-2">Ngày kết thúc<span style="color:red">*</span>:</label>
                                                <div class="col-md-4">
                                                    <input disabled type="text"
                                                           placeholder="dd/MM/yyyy"
                                                           datetime="dd/MM/yyyy"
                                                           class="form-control input-sm"
                                                           ng-model="item.NgayKT"
                                                           datetime-separator=",.-/" />

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row margin-bottom-5">
                                            <div class="{{itemError.ModelState.IdQuyDinhTC[1]}}">
                                                <label class="control-label col-md-2">Quy định về tiêu chuẩn đánh giá<span style="color:red">*</span>:</label>
                                                <div class="col-md-4">
                                                    <select disabled ng-model="item.IdQuyDinhTC" class="form-control input-sm select2"
                                                            convert-to-number ng-change="LoadListTCTC()">
                                                        <option ng-repeat="nl in QuyDinh" value={{nl.Id}}>{{nl.Ten}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <label class="control-label col-md-2">Ghi chú:</label>
                                            <div class="col-md-4">
                                                <input disabled type="text" class="form-control input-sm" ng-model="item.GhiChu">
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane " id="tab_2">
                            <div class="row">
                                <div class="portlet light " style="margin-bottom:0">
                                    <div class="form-body form-horizontal">
                                        <!--<div class="row" ng-init="config.readOnly = true">-->
                                        <div class="row">

                                            <ng-ckeditor ng-model="item.MucDich"
                                                         ng-config="config"></ng-ckeditor>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab_3">
                            <div class="row">
                                <div class="portlet light " style="margin-bottom:0">
                                    <div class="form-body form-horizontal">
                                        <div class="row">

                                            <ng-ckeditor ng-model="item.PhamVi"
                                                         ng-config="config"></ng-ckeditor>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab_4">
                            <div class="row">
                                <div class="portlet light " style="margin-bottom:0">
                                    <div class="form-body form-horizontal">
                                        <div class="row">

                                            <ng-ckeditor ng-model="item.CongCu"
                                                         ng-config="config"></ng-ckeditor>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab_5">
                            <div class="row">
                                <div class="portlet light " style="margin-bottom:0">
                                    <div class="form-body form-horizontal">
                                        <div class="row">

                                            <ng-ckeditor ng-model="item.TapHuanNghiepVu"
                                                         ng-config="config"></ng-ckeditor>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab_6">
                            <div class="row">
                                <div class="portlet light " style="margin-bottom:0">
                                    <div class="form-body form-horizontal">
                                        <div class="row">

                                            <ng-ckeditor ng-model="item.NguonLuc"
                                                         ng-config="config"></ng-ckeditor>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab_7">
                            <div class="row">
                                <div class="portlet light " style="margin-bottom:0">
                                    <div class="form-body form-horizontal">
                                        <div class="row">

                                            <ng-ckeditor ng-model="item.ThueChuyenGia"
                                                         ng-config="config"></ng-ckeditor>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane " id="tab_8">
                            <div class="row">
                                <div class="portlet light " style="margin-bottom:0">
                                    <div class="form-body form-horizontal">
                                        <div class="row">

                                            <ng-ckeditor ng-model="item.ThoiGianHoatDong"
                                                         ng-config="config"></ng-ckeditor>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group "
             style="position: sticky;bottom: 10px;z-index:500;background-color:white">
            <div class="col-md-3"></div>

            <div class="col-md-4">
                <!--<div style="margin-top:7px"><i>Lưu ý: <span style="color:red">*</span> Bắt buộc nhập</i></div>-->
            </div>
            <div class="col-md-5 clearfix text-right">
                <a class="btn btn-sm btn-success btn-outline sbold" ng-if="CheckView(item,'TAOKHDGN')" tooltip ng-click="cancelModal();OpenModalKeHoachDGN(item,'KeHoachTDG')" title="Tạo kế hoạch đánh giá ngoài"><i class="fa fa-share"></i>Tạo kế hoạch đánh giá ngoài</a>
                <a class="btn btn-sm btn-success btn-outline sbold" ng-if="CheckView(item,'VIEWKHDGN')" tooltip ng-click="cancelModal();OpenModalKeHoachDGN(item,'KeHoachTDG')" title="Xem kế hoạch đánh giá ngoài"><i class="fa fa-eye"></i>Xem kế hoạch đánh giá ngoài</a>

                <!--<a class="btn btn-sm btn-success btn-outline sbold"
               ng-click="OpenDetailKeHoachTDG(dm,'KeHoachTDG')"><i class="fa fa-save"></i> Tạo kế hoạch đánh giá ngoài </a>-->

                <a class="btn btn-sm grey-cascade" ng-click="cancelModal()"><i class="fa fa-times-circle"></i> Đóng </a>
            </div>

        </div>


    </div>
</div>



<script>
    jQuery(document).ready(function () {
        ComponentsSelect2.init();
    });
</script>
