
<div ng-controller="KeHoachDGNController">
    <div class="col-md-12">
        <h4> <label class=" uppercase font-green"><i class="fa fa-list"></i> LẬP KẾ HOẠCH ĐÁNH GIÁ NGOÀI </label></h4>
    </div>
    <div class="form-body form-horizontal ">
        <div class="portlet  ">
            <div class="portlet-body  form">
                <div class="row ">

                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Đơn vị</span>
                            <select class="form-control select2 filter-select input-sm " ng-model="filterKeHoachDGN.IdTruong" ng-change="onSearchKeHoachDGN()">
                                <option ng-repeat="dv in DonVis"
                                        ng-disabled="dv.LoaiDonVi != 'TRUONG'"
                                        value="{{dv.Id}}">
                                    {{dv.TenDonVi}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <!--<div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Kế hoạch năm</span>
                            <input type="text" ng-model="filterKeHoachDGN.Nam"
                                   class="form-control ">

                        </div>
                    </div>-->
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Trạng thái</span>
                            <select class="form-control select2 filter-select input-sm" ng-model="filterKeHoachDGN.TrangThai" ng-change="onSearchKeHoachDGN()">
                                <option ng-repeat="tt in TrangThaiKHDGNs" value="{{tt.FCode}}">{{tt.FName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-primary btn-" ng-click="onSearchKeHoachDGN()"><i class="fa fa-search"></i> Tìm</a>
                        <a class="btn btn-default btn-" ng-click="onCancelKeHoachDGN()"><i class="glyphicon glyphicon-remove"></i> Hủy</a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-scrollable ">
                            <table class="table table-striped table-bordered table-hover"
                                   id="fixTable">
                                <thead>
                                    <tr>
                                        <th width="1px" align="center"> STT </th>
                                        <th> <div style="text-align:center">Kế hoạch Tự đánh giá</div></th>
                                        <th> <div style="text-align:center">Kế hoạch đánh giá ngoài</div></th>
                                        <th> <div style="text-align:center">Đơn vị</div> </th>
                                        <th> <div style="text-align:center">Trạng thái</div> </th>
                                        <th width="1px"><div style="text-align:center">#</div>  </th>
                                        <th width="1px"><div style="text-align:center">#</div>  </th>
                                        <th width="1px"><div style="text-align:center">#</div>  </th>
                                        <th width="1px"><div style="text-align:center">#</div> </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" ng-repeat="dm in KeHoachDGN">
                                        <td align="center" width="1px"> {{$index + 1}} </td>
                                        <td>  <a ng-click="OpenDetailKeHoachTDG(dm,'KeHoachDGN')"> {{dm.KeHoachTDGName}}</a> </td>
                                        <td>
                                            <a ng-if="(dm.Id!=null&& dm.Id!=0)" ng-click="OpenModalKeHoachDGN(dm,'KeHoachDGN')"> {{dm.NoiDung}}</a>
                                            <a ng-if="(dm.Id==null|| dm.Id==0)&&CheckView(dm,'EDITKHDGN')" tooltip ng-click="OpenModalKeHoachDGN(dm,'KeHoachDGN')" title="Tạo kế hoạch đánh giá ngoài">Chưa có kế hoạch! Chọn để tạo kế hoạch đánh giá ngoài &nbsp;<i class="fa fa-plus-circle"></i></a>

                                        </td>
                                        <td> {{dm.DonViName}} </td>

                                        <td align="center">
                                            <span  ng-if="(dm.Id!=null&& dm.Id!=0)&&CheckView(dm,'EDITKHDGN')" ng-repeat="tt in TrangThaiKHDGNs | filter : {FCode : dm.TrangThai}"> {{tt.FName}}</span>
                                        </td>
                                        <td>
                                            <a tooltip title="In kế hoạch đánh giá ngoài" ng-click="InDanhGia(dm);">
                                                <i class="fa fa-file-word-o"></i>
                                            </a>
                                        </td>
                                        <td nowrap>
                                            <a ng-if="(dm.Id!=null&& dm.Id!=0)&&CheckView(dm,'BATDAUKHDGN')" tooltip title="Tiến hành kế hoạch" ng-click="UpdateTrangThaiKH(dm,'BATDAU')"><i class="font-green fa fa-play"></i></a>
                                            <a ng-if="(dm.Id!=null&& dm.Id!=0)&&CheckView(dm,'TAMDUNGKHDGN')" tooltip title="Dừng kế hoạch" ng-click="UpdateTrangThaiKH(dm,'TAMDUNG')"><i class="font-red fa fa-stop"></i></a>&nbsp;
                                            <a ng-if="(dm.Id!=null&& dm.Id!=0)&&CheckView(dm,'HOANTHANHKHDGN')" tooltip title="Hoàn thành kế hoạch" ng-click="UpdateTrangThaiKH(dm,'HOANTHANH')"><i class="font-green fa fa-check-circle"></i></a>
                                        </td>
                                        <td>
                                            <a ng-if="(dm.Id!=null&& dm.Id!=0)&&CheckView(dm,'EDITKHDGN')" tooltip ng-click="OpenModalKeHoachDGN(dm,'KeHoachDGN')" title="Sửa"><i class="fa fa-edit"></i></a>
                                            <a ng-if="(dm.Id==null|| dm.Id==0)&&CheckView(dm,'EDITKHDGN')" tooltip ng-click="OpenModalKeHoachDGN(dm,'KeHoachDGN')" title="Tạo kế hoạch đánh giá ngoài"><i class="fa fa-plus-circle"></i></a>
                                        </td>
                                        <td>
                                            <a ng-if="(dm.Id!=null&& dm.Id!=0)&&CheckView(dm,'EDITKHDGN')" tooltip ng-click="Del(dm)" title="Xóa kế hoạch"><i class="fa fa-trash font-red "></i></a>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--region in-->
                <div hidden class="row" id="PrintDiv">

                    <div class="col-md-12">
                        <table>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <center>
                            <h4>
                                <b> KẾ HOẠCH LÀM VIỆC CỦA ĐOÀN ĐÁNH GIÁ NGOÀI</b>
                            </h4>

                        </center>
                    </div>
                    <div class="col-md-12">
                        <h4><b>I. MỤC ĐÍCH</b></h4>
                    </div>
                    <div class="col-md-12">
                        <div ng-bind-html="ItemKeHoach.MucDich"></div>
                    </div>
                    <div class="col-md-12">
                        <h4><b>II. NỘI DUNG</b></h4>
                    </div>
                    <div class="col-md-12">
                        <h4><b>1. Nghiên cứu hồ sơ đánh giá</b></h4>
                    </div>
                    <div class="col-md-12">
                        <div ng-bind-html="ItemKeHoach.NghienCuuHSDG"></div>
                    </div>
                    <div class="col-md-12">
                        <h4><b>2. Khảo sát sơ bộ tại cơ sở giáo dục phổ thông</b></h4>
                    </div>
                    <div class="col-md-12">
                        <div ng-bind-html="ItemKeHoach.KhaoSatSoBo"></div>
                    </div>
                    <div class="col-md-12">
                        <h4><b>3. Khảo sát chính thức tại cơ sở giáo dục phổ thông</b></h4>
                    </div>
                    <div class="col-md-12">
                        <div ng-bind-html="ItemKeHoach.KhaoSatChinhThuc"></div>
                    </div>

                    <div class="col-md-12">
                        <h4><b>4. Dự thảo báo cáo ngoài</b></h4>
                    </div>
                    <div class="col-md-12">
                        <div ng-bind-html="ItemKeHoach.DuThaoBaoCao"></div>
                    </div>

                    <div class="col-md-12">
                        <h4><b>5. Lấy ý kiến phản hồi của cơ sở giáo dục phổ thông về dự thảo báo cáo đánh giá ngoài</b></h4>
                    </div>
                    <div class="col-md-12">
                        <div ng-bind-html="ItemKeHoach.LayYKienPhanHoi"></div>
                    </div>

                    <div class="col-md-12">
                        <h4><b>6. Hoàn thiện báo cáo đánh giá ngoài</b></h4>
                    </div>
                    <div class="col-md-12">
                        <div ng-bind-html="ItemKeHoach.HoanThienBaoCao"></div>
                    </div>

                    <div class="col-md-12">
                        <h4><b>III. TỔ CHỨC THỰC HIỆN</b></h4>
                    </div>
                    <div class="col-md-12">
                        <div ng-bind-html="ItemKeHoach.ToChucThucHien"></div>
                    </div>

                    <br />
                    <br />
                    <br />
                    <div class="col-md-12">
                        <table width="100%">
                            <tr>
                                <td align="center" class="td-no-border">
                                    <b>DUYỆT CỦA GIÁM ĐỐC SỞ GIÁO DỤC VÀ ĐÀO TẠO</b>
                                </td>
                                <td align="center" class="td-no-border">
                                    <i>......., ngày...... tháng ....... năm ........</i><br />
                                    <b>TRƯỞNG ĐOÀN</b><br /><i>(Ký và ghi rõ họ tên)</i>
                                </td>
                            </tr>
                            <tr>
                                <td width="40%" class="td-no-border">
                                    <br />
                                    <br />
                                    <br />
                                    <b><i>Nơi nhận:</i></b><br />
                                    - Sở GDĐT (để b/c);<br />
                                    - Các thành viên Đoàn ĐGN (để th/h);<br />
                                    - Trường được ĐGN (để biết);<br />
                                    - Lưu: ...............
                                </td>
                                <td align="center" width="60%" class="td-no-border">
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                <!--endregion in-->
            </div>
        </div>

        <br />
    </div>



</div>

<div hidden id="TemplateMucDich">
    1. Xác định các mức đạt được tiêu chuẩn đánh giá của nhà trường. <br />
    2. Tư vấn, khuyến nghị các biện pháp bảo đảm và nâng cao chất lượng giáo dục đối với nhà trường. <br />
    3. Đề nghị công nhận hoặc không công nhận nhà trường đạt kiểm định chất lượng giáo dục và đạt chuẩn quốc gia.
</div>

<div hidden id="TemplateNoiDung">
    <table class="table table-scrollable table-striped" style="width:100%">
        <tbody>
            <tr>
                <td style="vertical-align:middle; text-align:center">
                    <b>Thời gian<br /> (Ngày, tháng, năm)</b>
                </td>
                <td style="vertical-align:middle; text-align:center">
                    <b>Nội dung</b>
                </td>
                <td style="vertical-align:middle; text-align:center">
                    <b>Người thục hiện</b>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div hidden id="TemplateCongCu">
    <i>1. Đối với các trường tiểu học</i> <br />
    Công cụ TĐG là tiêu chuẩn đánh giá trường tiểu học ban hành kèm theo
    Thông tư số 17/2018/TT- BGDĐT và các tài liệu hướng dẫn. <br />
    <i>2. Đối với các trường THCS, THPT và trường phổ thông có nhiều cấp học</i><br />
    Công cụ TĐG là tiêu chuẩn đánh giá trường THCS, THPT và trường phổ thông có nhiều cấp học
    ban hành kèm theo Thông tư số 18/2018/TT-BGDĐT và các tài liệu hướng dẫn.

</div>

<div hidden id="TemplateTapHuanNghiepVu">
    <i>1. Thời gian: .....................................................</i><br />
    <i>2. Thành phần: ....................................................</i><br />
    <i>3. Nội dung, chương trình tập huấn,…: .............................</i><br />

</div>

<div hidden id="TemplateNguonLuc" class="row">
    <table class="table table-scrollable table-striped" style="width:100%">
        <tbody>
            <tr>
                <td style="vertical-align:middle; text-align:center">
                    <b>Tiêu chuẩn</b>
                </td>
                <td style="vertical-align:middle; text-align:center">
                    <b>Tiêu chí</b>
                </td>
                <td style="vertical-align:middle; text-align:center">
                    <b>Các nguồn lực cần huy động/cung cấp</b>
                </td>
                <td style="vertical-align:middle; text-align:center">
                    <b>Thời điểm cần huy động</b>
                </td>
                <td style="vertical-align:middle; text-align:center">
                    <b>Ghi chú</b>
                </td>
            </tr>
            <tr ng-repeat="tc in ListTCTC" on-finish-render="ngRepeatFinished">
                <td rowspan="{{tc.SLTieuChi}}" ng-if="tc.SLTieuChi"
                    style="vertical-align:middle; text-align:center">
                    {{tc.ThuTu.split('.')[0]}}
                </td>
                <td>
                    Tiêu chí {{tc.ThuTu}}
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div hidden id="TemplateThueChuyenGia">
    Xác định các lĩnh vực cần thuê chuyên gia,
    mục đích thuê chuyên gia, vai trò của chuyên gia,
    số lượng chuyên gia, thời gian cần thuê chuyên gia, kinh phí thuê chuyên gia,...
</div>

<div hidden id="TemplateThoiGianHoatDong">
    <p>Tuỳ theo từng điều kiện cụ thể, mỗi trường x&aacute;c định thời gian thực hiện ph&ugrave; hợp để ho&agrave;n th&agrave;nh hoạt động TĐG. Sau đ&acirc;y l&agrave; v&iacute; dụ minh họa về thời gian v&agrave; nội dung hoạt động triển khai thực hiện hoạt động TĐG:</p>

    <p>&nbsp;</p>

    <table cellspacing="0" class="Table" style="border-collapse:collapse; border:none; width:100%">
        <tbody>
            <tr>
                <td style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:1px solid black; width:121px">
                    <p>&nbsp;</p>

                    <p style="text-align:center"><strong>Thời gian</strong></p>
                </td>
                <td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; vertical-align:top; width:494px">
                    <p>&nbsp;</p>

                    <p style="text-align:center"><strong>Nội dung hoạt động</strong></p>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:none; width:121px">
                    <p style="text-align:center"><strong>Tuần 1</strong></p>

                    <p style="text-align:center">&nbsp;</p>
                </td>
                <td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none; width:494px">
                    <p style="text-align:justify">1. Họp l&atilde;nh đạo nh&agrave; trường để thảo luận dự kiến c&aacute;c th&agrave;nh vi&ecirc;n Hội đồng TĐG v&agrave; c&aacute;c vấn đề li&ecirc;n quan đến triển khai hoạt động TĐG.</p>

                    <p style="text-align:justify">2. Hiệu trưởng ra quyết định th&agrave;nh lập Hội đồng TĐG.</p>

                    <p style="text-align:justify">3. Họp Hội đồng TĐG để:</p>

                    <p style="text-align:justify">- C&ocirc;ng bố quyết định th&agrave;nh lập Hội đồng TĐG;</p>

                    <p style="text-align:justify">- Thảo luận về nhiệm vụ cụ thể cho từng th&agrave;nh vi&ecirc;n Hội đồng TĐG; ph&acirc;n c&ocirc;ng nhiệm vụ cụ thể cho c&aacute;c nh&oacute;m c&ocirc;ng t&aacute;c v&agrave; c&aacute; nh&acirc;n;</p>

                    <p style="text-align:justify">- Dự kiến thu&ecirc; chuy&ecirc;n gia tư vấn để gi&uacute;p Hội đồng TĐG triển khai hoạt động TĐG (nếu c&oacute;);</p>

                    <p style="text-align:justify">- Dự thảo v&agrave; ban h&agrave;nh Kế hoạch TĐG.</p>

                    <p style="text-align:justify">4. Phổ biến Kế hoạch TĐG đến to&agrave;n thể c&aacute;n bộ, gi&aacute;o vi&ecirc;n, nh&acirc;n vi&ecirc;n của nh&agrave; trường v&agrave; c&aacute;c b&ecirc;n li&ecirc;n quan.</p>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:none; width:121px">
                    <p style="text-align:center"><strong>Tuần 2</strong></p>

                    <p style="text-align:center">&nbsp;</p>
                </td>
                <td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top; width:494px">
                    <p style="text-align:justify">1. Tổ chức hội thảo/tập huấn/hội nghị về nghiệp vụ TĐG cho to&agrave;n thể c&aacute;n bộ, gi&aacute;o vi&ecirc;n, nh&acirc;n vi&ecirc;n của trường v&agrave; c&aacute;c b&ecirc;n li&ecirc;n quan.</p>

                    <p style="text-align:justify">2. C&aacute;c nh&oacute;m c&ocirc;ng t&aacute;c, c&aacute; nh&acirc;n thực hiện x&aacute;c định nội h&agrave;m, ph&acirc;n t&iacute;ch ti&ecirc;u ch&iacute; t&igrave;m minh chứng cho từng ti&ecirc;u ch&iacute;.</p>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:none; width:121px">
                    <p style="text-align:center"><strong>Tuần 3 - 5</strong></p>

                    <p style="text-align:center">&nbsp;</p>
                </td>
                <td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top; width:494px">
                    <p style="text-align:justify">1. C&aacute;c nh&oacute;m c&ocirc;ng t&aacute;c, c&aacute; nh&acirc;n thực hiện:</p>

                    <p style="text-align:justify">- X&aacute;c định nội h&agrave;m, ph&acirc;n t&iacute;ch ti&ecirc;u ch&iacute; t&igrave;m minh chứng cho từng ti&ecirc;u ch&iacute; (tiếp theo việc tuần 2);</p>

                    <p style="text-align:justify">- Ph&acirc;n loại v&agrave; m&atilde; ho&aacute; c&aacute;c minh chứng thu được.</p>

                    <p style="text-align:justify">2. Hội đồng TĐG thảo luận c&aacute;c minh chứng cho từng ti&ecirc;u ch&iacute; đ&atilde; thu thập được v&agrave; lập Bảng danh mục m&atilde; minh chứng.</p>

                    <p style="text-align:justify">3. C&aacute;c nh&oacute;m chuy&ecirc;n tr&aacute;ch, c&aacute; nh&acirc;n viết c&aacute;c Phiếu đ&aacute;nh gi&aacute; ti&ecirc;u ch&iacute;.</p>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:none; width:121px">
                    <p style="text-align:center"><strong>Tuần 6 - 7</strong></p>

                    <p style="text-align:center">&nbsp;</p>
                </td>
                <td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top; width:494px">
                    <p style="text-align:justify">C&aacute;c nh&oacute;m chuy&ecirc;n tr&aacute;ch, c&aacute; nh&acirc;n viết c&aacute;c Phiếu đ&aacute;nh gi&aacute; ti&ecirc;u ch&iacute; (tiếp theo việc tuần 3 - 5).</p>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:none; width:121px">
                    <p style="text-align:center"><strong>Tuần 8 - 9</strong></p>

                    <p style="text-align:center">&nbsp;</p>
                </td>
                <td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top; width:494px">
                    <p style="text-align:justify">Họp hội đồng TĐG để:</p>

                    <p style="text-align:justify">- Thảo luận về những vấn đề ph&aacute;t sinh từ c&aacute;c minh chứng thu được, những minh chứng cần thu thập bổ sung v&agrave; c&aacute;c vấn đề li&ecirc;n quan đến hoạt động TĐG (nếu c&oacute;);</p>

                    <p style="text-align:justify">- C&aacute;c nh&oacute;m chuy&ecirc;n tr&aacute;ch, c&aacute; nh&acirc;n b&aacute;o c&aacute;o nội dung của từng Phiếu đ&aacute;nh gi&aacute; ti&ecirc;u ch&iacute; với Hội đồng TĐG;</p>

                    <p style="text-align:justify">- Chỉnh sửa, bổ sung c&aacute;c nội dung của Phiếu đ&aacute;nh gi&aacute; ti&ecirc;u ch&iacute; (trong đ&oacute; đặc biệt ch&uacute; &yacute; đến kế hoạch cải tiến chất lượng);</p>

                    <p style="text-align:justify">- Thu thập, xử l&yacute; minh chứng bổ sung (nếu c&oacute;);</p>

                    <p style="text-align:justify">- Dự thảo b&aacute;o c&aacute;o TĐG.</p>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:none; height:214px; width:121px">
                    <p style="text-align:center"><strong>Tuần 10 - 12</strong></p>

                    <p style="text-align:center">&nbsp;</p>
                </td>
                <td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none; height:214px; vertical-align:top; width:494px">
                    <p style="text-align:justify">Họp Hội đồng TĐG để:</p>

                    <p style="text-align:justify">- Kiểm tra lại minh chứng được sử dụng trong b&aacute;o c&aacute;o TĐG v&agrave; c&aacute;c nội dung li&ecirc;n quan (nếu c&oacute;);</p>

                    <p style="text-align:justify">- Tiếp tục chỉnh sửa, bổ sung dự thảo b&aacute;o c&aacute;o TĐG;</p>

                    <p style="text-align:justify">- Th&ocirc;ng qua b&aacute;o c&aacute;o TĐG đ&atilde; chỉnh sửa, bổ sung;</p>

                    <p style="text-align:justify">- C&ocirc;ng bố dự thảo b&aacute;o c&aacute;o TĐG trong nội bộ trường;</p>

                    <p style="text-align:justify">- Thu thập c&aacute;c &yacute; kiến đ&oacute;ng g&oacute;p dự thảo b&aacute;o c&aacute;o TĐG;</p>

                    <p style="text-align:justify">- Bổ sung v&agrave; ho&agrave;n thiện b&aacute;o c&aacute;o TĐG sau khi c&oacute; c&aacute;c &yacute; kiến g&oacute;p &yacute;;</p>

                    <p style="text-align:justify">- Tiếp tục chỉnh sửa, bổ sung v&agrave; đề xuất những kế hoạch cải tiến chất lượng (nếu c&oacute;).</p>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:none; width:121px">
                    <p style="text-align:center"><strong>Tuần 13 - 14</strong></p>

                    <p style="text-align:center">&nbsp;</p>
                </td>
                <td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none; width:494px">
                    <p style="text-align:justify">1. C&aacute;c th&agrave;nh vi&ecirc;n của Hội đồng TĐG k&yacute; t&ecirc;n v&agrave;o danh s&aacute;ch trong b&aacute;o c&aacute;o TĐG. Hiệu trưởng k&yacute; t&ecirc;n, đ&oacute;ng dấu v&agrave; ban h&agrave;nh.</p>

                    <p style="text-align:justify">2. Gửi b&aacute;o c&aacute;o TĐG v&agrave; c&ocirc;ng văn trong đ&oacute; c&oacute; nội dung đ&atilde; ho&agrave;n th&agrave;nh hoạt động TĐG cho cơ quan quản l&yacute; trực tiếp để lấy &yacute; kiến.</p>

                    <p style="text-align:justify">3. Chỉnh sửa, bổ sung c&aacute;c &yacute; kiến của cơ quan quản l&yacute; trực tiếp (nếu c&oacute;).</p>

                    <p style="text-align:justify">4. C&ocirc;ng bố bản b&aacute;o c&aacute;o TĐG đ&atilde; ho&agrave;n thiện (trong nội bộ nh&agrave; trường).</p>

                    <p style="text-align:justify">5. Lưu trữ b&aacute;o c&aacute;o TĐG, c&aacute;c minh chứng v&agrave; c&aacute;c t&agrave;i liệu li&ecirc;n quan theo quy định.</p>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:none; width:121px">
                    <p style="text-align:center"><strong>Tuần 15 - 16</strong></p>

                    <p style="text-align:center">&nbsp;</p>
                </td>
                <td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none; width:494px">
                    <p style="text-align:justify">1. Tổ chức thực hiện c&aacute;c kế hoạch cải tiến chất lượng theo từng giai đoạn.</p>

                    <p style="text-align:justify">2. Cập nhật lại b&aacute;o c&aacute;o TĐG (nếu cần) trước khi thực hiện việc đăng k&yacute; ĐGN với cơ quan c&oacute; thẩm quyền.</p>
                </td>
            </tr>
        </tbody>
    </table>

    <p>&nbsp;</p>

</div>