<style>
    .text-multi-line {
        overflow-y: scroll;
        max-height: 100px;
        white-space: pre;
        background-color: antiquewhite
    }

    .modal-dialog {
        width: 90%
    }
</style>
<div class="modal-header bg-color" style="background-color:#ccc">
    <div class="modal-title">
        <a title="Đóng" style="opacity:1 !important" ng-click="cancelModal()" class="close" aria-hidden="true"> </a>

        <h4> <label class=" uppercase font-white"><i class="fa fa-list"></i>Thông tin kế hoạch đánh giá ngoài</label></h4>

    </div>
</div>
<div class="modal-body form">
    <div class="form-body form-horizontal margin-top-10">

        <div class="row text-center uppercase">
            <h3>{{item.NoiDung}} </h3>
            <!--<div style="display:flex;flex-direction:row ;align-items:center;justify-content:center">

                <h3> Năm</h3> <div class="col-md-2"><input class="form-control" ng-model="item.Nam" ng-disabled="!CheckView(item,'EDITKHDGN')" /></div>
            </div>-->
        </div>
        <div class="row  col-md-12">
            <h4> Căn cứ theo <a title="Xem thông tin kế hoạch tự đánh giá" ng-click="OpenDetailKeHoachTDG({IdKeHoachTDG:item.IdKeHoachTDG},'KeHoachDGN')">{{item.KeHoachTDGName}} của {{item.DonViName}}</a></h4>
        </div>
        <!---->
        <!---->
        <div class="row">
            <div class="col-md-12">
                <div class="row ">
                    <div class="tabbable-custom portlet box margin-top-10">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <ul class="nav nav-tabs tabs-left">
                                <li class="active">
                                    <a data-target="#tab_1" data-toggle="tab" aria-expanded="true">
                                        Mục đích
                                    </a>
                                </li>

                                <li>
                                    <a data-target="#tab_2_0" data-toggle="tab" aria-expanded="true">
                                        Phân công chức vụ trong đoàn
                                    </a>
                                </li>

                                <li ng-show="checkPhanCong()">
                                    <a data-target="#tab_2" data-toggle="tab" aria-expanded="true">
                                        Phân công đánh giá tiêu chí
                                    </a>
                                </li>
                                <li ng-show="checkPhanCong()">
                                    <a data-target="#tab_3" data-toggle="tab" aria-expanded="true">
                                        Nội dung nghiên cứu
                                    </a>
                                </li>
                                <li ng-show="checkPhanCong()">
                                    <a data-target="#tab_4" data-toggle="tab" aria-expanded="true">
                                        Nội dung khảo sát sơ bộ
                                    </a>
                                </li>
                                <li ng-show="checkPhanCong()">
                                    <a data-target="#tab_5" data-toggle="tab" aria-expanded="true">
                                        Nội dung khảo sát chính thức
                                    </a>
                                </li>

                                <li ng-show="checkPhanCong()">
                                    <a data-target="#tab_6" data-toggle="tab" aria-expanded="true">
                                        Nội dung dự thảo báo cáo
                                    </a>
                                </li>

                                <li ng-show="checkPhanCong()">
                                    <a data-target="#tab_7" data-toggle="tab" aria-expanded="true">
                                        Nội dung lấy ý kiến phản hồi về dự thảo báo cáo
                                    </a>
                                </li>

                                <li ng-show="checkPhanCong()">
                                    <a data-target="#tab_8" data-toggle="tab" aria-expanded="true">
                                        Nội dung hoàn thiện báo cáo
                                    </a>
                                </li>

                                <li ng-show="checkPhanCong()">
                                    <a data-target="#tab_9" data-toggle="tab" aria-expanded="true">
                                        Tổ chức thực hiện
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <div class="tab-content">
                                <div class="tab-pane  active" id="tab_1">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <!--<div class="text-center">
                                                    <h3>Mục đích</h3>
                                                </div>-->
                                                <div class="row">

                                                    <ng-ckeditor ng-model="item.MucDich"
                                                                 ng-config="config"></ng-ckeditor>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="tab_2_0">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <center><i class="font-red">Vui lòng chọn chức vụ trong đoàn cho tất cả các thành viên và nhấn nút Lưu trước khi phân công các nhiệm vụ cụ thể!</i></center>
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="1%" style="text-align:center;vertical-align:middle">STT</th>
                                                            <th style="text-align:center;vertical-align:middle">Thành viên</th>
                                                            <th style="text-align:center;vertical-align:middle">Trưởng đoàn</th>
                                                            <th style="text-align:center;vertical-align:middle">Ủy viên</th>
                                                            <th style="text-align:center;vertical-align:middle">Thư ký</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="u in ThanhVienDGNs">
                                                            <td align="center">{{$index+1}}</td>
                                                            <td>{{u.us.HoTen}}</td>
                                                            <td width="1%" align="center"><span ng-if="u.tv.TruongDoan"><i class="fa fa-check"></i></span></td>
                                                            <td width="1%" align="center"><input ng-disabled="!CheckView(item,'EDITKHDGN')" type="checkbox" ng-model="u.tv.UyVien" /></td>
                                                            <td width="1%" align="center"><input ng-disabled="!CheckView(item,'EDITKHDGN')" type="checkbox" ng-model="u.tv.ThuKy" /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="tab_2">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">Thành viên</span>
                                                            <select class="form-control select2 input-sm" ng-model="filterPCTieuChi.UserName">
                                                                <option ng-repeat="u in ThanhVienDGNs" value="{{u.us.UserName}}">{{RenderThanhVien(u)}}</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                                <br />
                                                <div ng-if="filterPCTieuChi.UserName!=null" class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;vertical-align:middle">STT</th>
                                                                    <th style="text-align:center;vertical-align:middle">Nội dung</th>
                                                                    <th style="text-align:center;vertical-align:middle">#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="x in ListTieuChuanTieuChis">
                                                                    <td width="1%" align="center" style="vertical-align:middle">
                                                                        <span ng-if="x.IdTieuChuan==null"><b> {{x.ThuTu}}</b></span>
                                                                        <span ng-if="x.IdTieuChuan!=null"> {{(ListTieuChuanTieuChis | filter:{'Id':x.IdTieuChuan})[0].ThuTu}}.{{x.ThuTu}}</span>

                                                                    </td>

                                                                    <td>
                                                                        <span ng-if="x.IdTieuChuan==null"><b>{{x.NoiDung}}</b></span>
                                                                        <span ng-if="x.IdTieuChuan!=null">{{x.NoiDung}}</span>
                                                                    </td>

                                                                    <td width="1%" align="center" style="vertical-align:middle">
                                                                        <input ng-if="x.IdTieuChuan==null" type="checkbox" ng-click="CheckView(item,'EDITKHDGN')&&onCheck(x,'TIEUCHUAN','CLICK')" ng-model="onCheck(x,'TIEUCHUAN','MODEL')" ng-model-options=" {getterSetter: true }" />
                                                                        <input ng-if="x.IdTieuChuan!=null" type="checkbox" ng-click="CheckView(item,'EDITKHDGN')&&onCheck(x,'TIEUCHI','CLICK')" ng-model="onCheck(x,'TIEUCHI','MODEL')" ng-model-options=" {getterSetter: true }" />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--<ng-ckeditor ng-model="item.NghienCuuHSDG"
                                                    ng-config="config"></ng-ckeditor>-->

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade " id="tab_3">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a ng-if="CheckView(item,'EDITKHDGN')" class="btn btn-primary btn-sm" ng-click="UpdateNoiDung('ADD',item.NghienCuuHSDGArray)"><i class="fa fa-plus-circle"></i>&nbsp;Thêm mới</a>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;vertical-align:middle">STT</th>
                                                                    <th style="text-align:center;vertical-align:middle">Thời gian</th>
                                                                    <th style="text-align:center;vertical-align:middle">Nội dung</th>
                                                                    <th style="text-align:center;vertical-align:middle">Người thực hiện</th>
                                                                    <th style="text-align:center;vertical-align:middle">#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="x in item.NghienCuuHSDGArray">
                                                                    <td width="1%" align="center" style="vertical-align:middle">{{$index+1}}</td>
                                                                    <td width="30%">
                                                                        <div class="input-group">
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.TuNgay">
                                                                            <span class="input-group-addon">-</span>
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.DenNgay">
                                                                        </div>

                                                                    </td>
                                                                    <td width="50%">
                                                                        <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control input-sm" ng-model="x.NoiDung" />
                                                                    </td>
                                                                    <td width="18%">
                                                                        <select select2 ng-disabled="!CheckView(item,'EDITKHDGN')" class="form-control select2 input-sm" ng-model="x.ThanhVien" ng-change="onChangeThanhVien(x)">
                                                                            <option ng-repeat="u in ThanhVienDGNs" value="{{u.us.UserName}}">
                                                                                {{RenderThanhVien(u)}}
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                    <td width="1%" align="center" style="vertical-align:middle">
                                                                        <a ng-if="CheckView(item,'EDITKHDGN')" ng-click="UpdateNoiDung('DELETE',item.NghienCuuHSDGArray)" title="Xóa"> <i class="fa fa-remove font-red"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--<ng-ckeditor ng-model="item.NghienCuuHSDG"
                                                    ng-config="config"></ng-ckeditor>-->

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="tab_4">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a ng-if="CheckView(item,'EDITKHDGN')" class="btn btn-primary btn-sm" ng-click="UpdateNoiDung('ADD',item.KhaoSatSoBoArray)"><i class="fa fa-plus-circle"></i>&nbsp;Thêm mới</a>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;vertical-align:middle">STT</th>
                                                                    <th style="text-align:center;vertical-align:middle">Thời gian</th>
                                                                    <th style="text-align:center;vertical-align:middle">Nội dung</th>
                                                                    <th style="text-align:center;vertical-align:middle">Người thực hiện</th>
                                                                    <th style="text-align:center;vertical-align:middle">#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="x in item.KhaoSatSoBoArray">
                                                                    <td width="1%" align="center" style="vertical-align:middle">{{$index+1}}</td>
                                                                    <td width="30%">
                                                                        <div class="input-group">
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.TuNgay">
                                                                            <span class="input-group-addon">-</span>
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.DenNgay">
                                                                        </div>

                                                                    </td>
                                                                    <td width="50%">
                                                                        <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control input-sm" ng-model="x.NoiDung" />
                                                                    </td>
                                                                    <td width="18%">
                                                                        <select select2 ng-disabled="!CheckView(item,'EDITKHDGN')" class="form-control select2 input-sm" ng-model="x.ThanhVien" ng-change="onChangeThanhVien(x)">
                                                                            <option ng-repeat="u in ThanhVienDGNs" value="{{u.us.UserName}}">{{RenderThanhVien(u)}}</option>
                                                                        </select>
                                                                    </td>
                                                                    <td width="1%" align="center" style="vertical-align:middle">
                                                                        <a ng-if="CheckView(item,'EDITKHDGN')" ng-click="UpdateNoiDung('DELETE',item.KhaoSatSoBoArray)" title="Xóa"> <i class="fa fa-remove font-red"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="tab_5">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a ng-if="CheckView(item,'EDITKHDGN')" class="btn btn-primary btn-sm" ng-click="UpdateNoiDung('ADD',item.KhaoSatChinhThucArray)"><i class="fa fa-plus-circle"></i>&nbsp;Thêm mới</a>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;vertical-align:middle">STT</th>
                                                                    <th style="text-align:center;vertical-align:middle">Thời gian</th>
                                                                    <th style="text-align:center;vertical-align:middle">Nội dung</th>
                                                                    <th style="text-align:center;vertical-align:middle">Người thực hiện</th>
                                                                    <th style="text-align:center;vertical-align:middle">#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="x in item.KhaoSatChinhThucArray">
                                                                    <td width="1%" align="center" style="vertical-align:middle">{{$index+1}}</td>
                                                                    <td width="30%">
                                                                        <div class="input-group">
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.TuNgay">
                                                                            <span class="input-group-addon">-</span>
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.DenNgay">
                                                                        </div>

                                                                    </td>
                                                                    <td width="50%">
                                                                        <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control input-sm" ng-model="x.NoiDung" />
                                                                    </td>
                                                                    <td width="18%">
                                                                        <select select2 ng-disabled="!CheckView(item,'EDITKHDGN')" class="form-control select2 input-sm" ng-model="x.ThanhVien" ng-change="onChangeThanhVien(x)">
                                                                            <option ng-repeat="u in ThanhVienDGNs" value="{{u.us.UserName}}">{{RenderThanhVien(u)}}</option>
                                                                        </select>
                                                                    </td>
                                                                    <td width="1%" align="center" style="vertical-align:middle">
                                                                        <a ng-if="CheckView(item,'EDITKHDGN')" ng-click="UpdateNoiDung('DELETE',item.KhaoSatChinhThucArray)" title="Xóa"> <i class="fa fa-remove font-red"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="tab_6">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a ng-if="CheckView(item,'EDITKHDGN')" class="btn btn-primary btn-sm" ng-click="UpdateNoiDung('ADD',item.DuThaoBaoCaoArray)"><i class="fa fa-plus-circle"></i>&nbsp;Thêm mới</a>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;vertical-align:middle">STT</th>
                                                                    <th style="text-align:center;vertical-align:middle">Thời gian</th>
                                                                    <th style="text-align:center;vertical-align:middle">Nội dung</th>
                                                                    <th style="text-align:center;vertical-align:middle">Người thực hiện</th>
                                                                    <th style="text-align:center;vertical-align:middle">#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="x in item.DuThaoBaoCaoArray">
                                                                    <td width="1%" align="center" style="vertical-align:middle">{{$index+1}}</td>
                                                                    <td width="30%">
                                                                        <div class="input-group">
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.TuNgay">
                                                                            <span class="input-group-addon">-</span>
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.DenNgay">
                                                                        </div>

                                                                    </td>
                                                                    <td width="50%">
                                                                        <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control input-sm" ng-model="x.NoiDung" />
                                                                    </td>
                                                                    <td width="18%">
                                                                        <select select2 ng-disabled="!CheckView(item,'EDITKHDGN')" class="form-control select2 input-sm" ng-model="x.ThanhVien" ng-change="onChangeThanhVien(x)">
                                                                            <option ng-repeat="u in ThanhVienDGNs" value="{{u.us.UserName}}">{{RenderThanhVien(u)}}</option>
                                                                        </select>
                                                                    </td>
                                                                    <td width="1%" align="center" style="vertical-align:middle">
                                                                        <a ng-if="CheckView(item,'EDITKHDGN')" ng-click="UpdateNoiDung('DELETE',item.DuThaoBaoCaoArray)" title="Xóa"> <i class="fa fa-remove font-red"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="tab_7">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a ng-if="CheckView(item,'EDITKHDGN')" class="btn btn-primary btn-sm" ng-click="UpdateNoiDung('ADD',item.LayYKienPhanHoiArray)"><i class="fa fa-plus-circle"></i>&nbsp;Thêm mới</a>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;vertical-align:middle">STT</th>
                                                                    <th style="text-align:center;vertical-align:middle">Thời gian</th>
                                                                    <th style="text-align:center;vertical-align:middle">Nội dung</th>
                                                                    <th style="text-align:center;vertical-align:middle">Người thực hiện</th>
                                                                    <th style="text-align:center;vertical-align:middle">#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="x in item.LayYKienPhanHoiArray">
                                                                    <td width="1%" align="center" style="vertical-align:middle">{{$index+1}}</td>
                                                                    <td width="30%">
                                                                        <div class="input-group">
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.TuNgay">
                                                                            <span class="input-group-addon">-</span>
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.DenNgay">
                                                                        </div>

                                                                    </td>
                                                                    <td width="50%">
                                                                        <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control input-sm" ng-model="x.NoiDung" />
                                                                    </td>
                                                                    <td width="18%">
                                                                        <select select2 ng-disabled="!CheckView(item,'EDITKHDGN')" class="form-control select2 input-sm" ng-model="x.ThanhVien" ng-change="onChangeThanhVien(x)">
                                                                            <option ng-repeat="u in ThanhVienDGNs" value="{{u.us.UserName}}">{{RenderThanhVien(u)}}</option>
                                                                        </select>
                                                                    </td>
                                                                    <td width="1%" align="center" style="vertical-align:middle">
                                                                        <a ng-if="CheckView(item,'EDITKHDGN')" ng-click="UpdateNoiDung('DELETE',item.LayYKienPhanHoiArray)" title="Xóa"> <i class="fa fa-remove font-red"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade " id="tab_8">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a ng-if="CheckView(item,'EDITKHDGN')" class="btn btn-primary btn-sm" ng-click="UpdateNoiDung('ADD',item.HoanThienBaoCaoArray)"><i class="fa fa-plus-circle"></i>&nbsp;Thêm mới</a>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;vertical-align:middle">STT</th>
                                                                    <th style="text-align:center;vertical-align:middle">Thời gian</th>
                                                                    <th style="text-align:center;vertical-align:middle">Nội dung</th>
                                                                    <th style="text-align:center;vertical-align:middle">Người thực hiện</th>
                                                                    <th style="text-align:center;vertical-align:middle">#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="x in item.HoanThienBaoCaoArray">
                                                                    <td width="1%" align="center" style="vertical-align:middle">{{$index+1}}</td>
                                                                    <td width="30%">
                                                                        <div class="input-group">
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.TuNgay">
                                                                            <span class="input-group-addon">-</span>
                                                                            <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control date-control input-sm"
                                                                                   datepicker=""
                                                                                   dp-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="x.DenNgay">
                                                                        </div>

                                                                    </td>
                                                                    <td width="50%">
                                                                        <input ng-disabled="!CheckView(item,'EDITKHDGN')" type="text" class="form-control input-sm" ng-model="x.NoiDung" />
                                                                    </td>
                                                                    <td width="18%">
                                                                        <select select2 ng-disabled="!CheckView(item,'EDITKHDGN')" class="form-control select2 input-sm" ng-model="x.ThanhVien" ng-change="onChangeThanhVien(x)">
                                                                            <option ng-repeat="u in ThanhVienDGNs" value="{{u.us.UserName}}">{{RenderThanhVien(u)}}</option>
                                                                        </select>
                                                                    </td>
                                                                    <td width="1%" align="center" style="vertical-align:middle">
                                                                        <a ng-if="CheckView(item,'EDITKHDGN')" ng-click="UpdateNoiDung('DELETE',item.HoanThienBaoCaoArray)" title="Xóa"> <i class="fa fa-remove font-red"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="tab_9">
                                    <div class="row">
                                        <div class="portlet light " style="margin-bottom:0">
                                            <div class="form-body form-horizontal">
                                                <div class="text-center">
                                                    <h3>Tổ chức thực hiện</h3>
                                                </div>
                                                <div class="row">

                                                    <ng-ckeditor ng-model="item.ToChucThucHien"
                                                                 ng-config="config"></ng-ckeditor>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!---->

        <div class="row "
             style="position: sticky;bottom: 10px;z-index:500;background-color:white">
            <div class="col-md-12">
                <label class="control-label col-md-2">Hiển thị:</label>
                <div class="col-md-1">
                    <input type="checkbox" class="input-sm" ng-model="item.FInUse">
                </div>

                <div class="col-md-4">
                    <div style="margin-top:7px"><i>Lưu ý: <span style="color:red">*</span> Bắt buộc nhập</i></div>
                </div>
                <div class="col-md-5 clearfix text-right">
                    <a class="btn btn-sm btn-success btn-outline sbold action-btn"
                       ng-click="InDanhGia(item)">
                        <i class="fa fa-file-word-o"></i> Xuất kế hoạch
                    </a>
                    <a ng-if="CheckView(item,'EDITKHDGN')" class="btn btn-sm btn-success btn-outline sbold"
                       ng-click="SaveModal()"><i class="fa fa-save"></i>&nbsp;Lưu </a>
                    <a class="btn btn-sm green  sbold" ng-if="CheckView(item,'BATDAUKHDGN')" title="Tiến hành" ng-click="SaveModal('BATDAU')"><i class=" fa fa-play"></i>&nbsp;Bắt đầu kế hoạch</a>
                    <a class="btn btn-sm red  sbold" ng-if="CheckView(item,'TAMDUNGKHDGN')" title="Tạm dừng" ng-click="SaveModal('TAMDUNG')"><i class=" fa fa-stop"></i>&nbsp;Dừng kế hoạch</a>
                    <a class="btn btn-sm green  sbold" ng-if="CheckView(item,'HOANTHANHKHDGN')" title="Hoàn thành" ng-click="SaveModal('HOANTHANH')"><i class=" fa fa-check-circle">&nbsp;Hoàn thành</i></a>

                    <a class="btn btn-sm grey-cascade" ng-click="cancelModal()"><i class="fa fa-times-circle"></i> Đóng </a>
                </div>

            </div>

        </div>


    </div>
</div>



<script>
    jQuery(document).ready(function () {
        ComponentsSelect2.init();
    });
</script>
